.body {
    background: #000000;
    background-image: url('../assets/images/Photo-by-Michael-Dziedzic.jpeg');
    background-position: center center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin:0 auto;
    }
.div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
        .profile-picture {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
            height: auto;
            max-width: 100px;
            }
            .table {
            caption-side: bottom;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            border: 1px solid white;
            border-width: 2px;
            border-collapse: collapse;
            text-align: center;
            }
                .links {
                    text-align: center;
                    margin-top: 20px;
                    padding: 20px;
                    border: 1px solid white;
                    border-width: 2px;
                    width: 290px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 40px;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        transition: color 1s;
                        }
                        a {
                            text-decoration: none;
                            color: white;
                            transition: color 1s;
                            }
                            a:hover {
                                color: #000;
                                background: #fff;
                                }
